# dependencies
node_modules/
.pnp
.pnp.js

# build outputs
dist/
build/
.next/
out/
*.tsbuildinfo

# turbo
.turbo/

# env
.env
.env.local
.env.*.local
!.env.example

# prisma
packages/db/prisma/*.db

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / os
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
coverage/
